body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.card {
    width: 350px;
    margin: 80px auto;
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.social img {
    width: 35px;
    height: 35px;
    margin: 5px;
}

button {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}